<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CPSMI_Project_MyTestVersion.Properties.Settings.CPSMI_Project_DatabaseConnectionString"
            connectionString="Data Source=VERAIVANOVAC08C\SQLEXPRESS;Initial Catalog=CPSMI_Project_Database;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>